* {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/* Schedule CSS Starts here */
.schedule body {
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: "DINPro", "Helvetica Neue", sans-serif;
    padding: 3rem;
    margin: 0;
    background: #fafafa;
    box-sizing: border-box;
    height: 100vh;
  }
  
  
  .schedule .outer {
    position:relative;
  }
  
  .schedule {
      margin: 0 auto;
    width: 405px;
    height: 720px;
  
    border-radius: 8px;
  }
  .schedule .wrap {
  
    overflow-x: hidden;
    overflow-y: scroll;
      width: 405px;
    height: 600px;
    border-radius: 8px;
  }
  
  
  .schedule thead th {
  
    text-align: center;
    width: 80%;
  
  }
  
  .schedule tbody {
      position: relative;
    top: 100px;
  }
  .schedule table {
    background: #fff;
    width: 100%;
    height: 80%;
    border-collapse: collapse;
    table-layout: fixed;
  
  }
  
  
  
  .schedule .headcol {
    width: 50px;
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    padding: 0.10rem 0;
    text-align: center;
    border: 0;
    position: relative;
    top: -12px;
    border-bottom: 1px solid transparent;
  }
  
  .schedule thead th {
    font-size: 0.7rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
  }
  
  .schedule thead {
      z-index: 2;
      background: white;
      border-bottom: 2px solid #ddd;
  
  }
  
  .schedule tr, tr td {
    height: 10px;
  }
  .schedule td {
    text-align: center;
  }
  .schedule tr:nth-child(odd) td:not(.headcol) {
    border-bottom: 1px solid #e8e8e8;
  }
  
  .schedule tr:nth-child(even) td:not(.headcol) {
    border-bottom: 1px solid #eee;
  }
  
  .schedule tr td {
    border-right: 1px solid #eee;
    padding: 0;
    white-space: none;
    word-wrap: nowrap;
  }
  
  .schedule tbody tr td {
    position: relative;
    vertical-align: top;
    height: 30px;
    padding: 0.25rem 0.25rem 0 0.25rem;
    width: auto;
  
  }
  
  .schedule .secondary {
    color: rgba(0, 0, 0, 0.4);
  }
  
  
  .schedule .checkbox {
     display: none;
  }
  
  .schedule .checkbox + label {
      border: 0;
      outline: 0;
      width: 80px;
      height: 80px;
      background: white;
      color: transparent;
      display:block;
    display: none;
  }
  
  .schedule .checkbox:checked + label {
      border: 0;
      outline: 0;
      width: 100%;
      height: 100%;
      background: red;
      color: transparent;
      display: inline-block;
  }
  
  .schedule .event {
    background: #ff256d;
    color: white;
    border-radius: 2px;
    text-align: left;
    font-size: 0.7rem;
    z-index: 2;
    padding: 0.5rem;
    overflow-x: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .schedule .event:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    background: #ff256d;
  }
  
  .schedule .event.double {
    height: 200%;
  }
  
  .schedule td:hover:after {
    content: "+";
    vertical-align: middle;
    font-size: 1.875rem;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
  }
  
  .schedule button.secondary {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-weight: 500;
  }
  
  .schedule button.secondary:hover {
    background: #fafafa;
  }
  .schedule button.secondary:active {
    box-shadow: none;
  }
  .schedule button.secondary:focus {
    outline: 0;
  }
  
  
  .schedule .today {
    color: red;
  }
  
  .schedule .now {
    box-shadow: 0px -1px 0px 0px red;
  }
  
  .schedule .icon {
    font-size: 1.5rem;
    margin: 0 1rem;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
  
  .schedule .icon:hover {
    color: red;
  }

.btn {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    font: bold 15px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 10px 10px 10px 10px;
    width: 163px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.loginButton {
    margin-top: 70px;
    background-color: #fe215a;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font: bold 15px Arial;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    width: 163px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
}

.registerButton {
    margin-top: 10px;
    background-color: #ff8410;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font: bold 15px Arial;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    width: 163px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
}

.verifyButton {
    margin-top: 10px;
    background-color: #ff8410;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font: bold 15px Arial;
    text-decoration: none;
    padding: 6px 0px 6px 0px;
    width: 300px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
}

.completeButton {
    margin-top: 10px;
    background-color: #fe216f;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font: bold 15px Arial;
    text-decoration: none;
    padding: 6px 0px 6px 0px;
    width: 270px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
}

.signInButton {
    margin-top: 10px;
    background-color: #ff2865;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font: bold 15px Arial;
    text-decoration: none;
    padding: 6px 0px 6px 0px;
    width: 300px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
}

.container {
    width: 100%;
    text-align: center;
}


.loading {
    background-image: url("image/load/loading_background.png");
    width: 405px;
    height: 720px;
}

.loginPage {
    background-color: #f4f4f4;
    width: 405px;
    height: 720px;
}

.loginTextLogo {
    display: flex;
    justify-content: center;
    padding-top: 258px;
}

/* Drop Down Menu Style */
.dropDown {
    position: relative;
    margin-top: 70px;
    padding-left: 15px;
    width: 300px;
    height: 30px;
    font: bold 13px Arial;
    border: 1px solid #c0c0c0;
    border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    background-color: #e2e2e2;
    color: #898989;
}

.profileImage {
    margin-top: 120px;
    width: 150px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.preferredName {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 20px;
    resize: none;
    font: 13px Arial;
    border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #c0c0c0;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #efefef;
    color: #898989;
}

.descriptionBox {
    margin-top: 5px;
    width: 250px;
    height: 90px;
    resize: none;
    font: 13px Arial;
    border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border: 1px solid #c0c0c0;
    padding-left: 15px;
    padding-top: 10px;
    background-color: #efefef;
    color: #898989;
}
.teamBGImage {
    margin-top: 0px;
    width: 405px;
    height: 300px;
}

.teamImage {
    margin-top: -80px;
    width: 150px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.courseInfos {
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
}

.courseInfo {
    margin:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    height: 20px;
    font: 13px Arial;
    border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #c0c0c0;
    padding-top: 4px;
    background-color: #efefef;
    color: #898989;
}

.exitButton {
    position: absolute;
    margin-top: -290px;
    width: 15px;
    margin-left: 173px;
    background-color: transparent;
}

.gotoChatButton {
    margin-top: 10px;
    background-color: #ff0054;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font: bold 15px Arial;
    text-decoration: none;
    padding: 6px 0px 6px 0px;
    width: 200px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
}
/* Pop Up Related */
/* Popup container */
.popup {
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 10px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    animation: fadeIn 2s
  }
  /* Add animation (fade in/out the popup) */
  @keyframes fadeIn {
    from {opacity: 0;}
    50% {opacity: 1;}
    to {opacity: 0;}
  }


  