* {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.btn {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    font: bold 15px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 10px 10px 10px 10px;
    width: 163px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.loginButton {
    margin-top: 70px;
    background-color: #fe215a;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font: bold 15px Arial;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    width: 163px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
}

.registerButton {
    margin-top: 10px;
    background-color: #ff8410;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font: bold 15px Arial;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    width: 163px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
}

.verifyButton {
    margin-top: 10px;
    background-color: #ff8410;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font: bold 15px Arial;
    text-decoration: none;
    padding: 6px 0px 6px 0px;
    width: 300px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
}

.completeButton {
    margin-top: 10px;
    background-color: #fe216f;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font: bold 15px Arial;
    text-decoration: none;
    padding: 6px 0px 6px 0px;
    width: 270px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
}

.signInButton {
    margin-top: 10px;
    background-color: #ff2865;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font: bold 15px Arial;
    text-decoration: none;
    padding: 6px 0px 6px 0px;
    width: 300px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
}

.container {
    width: 100%;
    text-align: center;
}


.loading {
    background-image: url("image/load/loading_background.png");
    width: 405px;
    height: 720px;
}

.loginPage {
    background-color: #f4f4f4;
    width: 405px;
    height: 720px;
}

.loginTextLogo {
    display: flex;
    justify-content: center;
    padding-top: 258px;
}

/* Drop Down Menu Style */
.dropDown {
    position: relative;
    margin-top: 70px;
    padding-left: 15px;
    width: 300px;
    height: 30px;
    font: bold 13px Arial;
    border: 1px solid #c0c0c0;
    border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    background-color: #e2e2e2;
    color: #898989;
}

.profileImage {
    margin-top: 120px;
    width: 150px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.preferredName {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 20px;
    resize: none;
    font: 13px Arial;
    border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #c0c0c0;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #efefef;
    color: #898989;
}

.descriptionBox {
    margin-top: 5px;
    width: 250px;
    height: 90px;
    resize: none;
    font: 13px Arial;
    border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border: 1px solid #c0c0c0;
    padding-left: 15px;
    padding-top: 10px;
    background-color: #efefef;
    color: #898989;
}
.teamBGImage {
    margin-top: 0px;
    width: 405px;
    height: 300px;
}

.teamImage {
    margin-top: -80px;
    width: 150px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.courseInfos {
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
}

.courseInfo {
    margin:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    height: 20px;
    font: 13px Arial;
    border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #c0c0c0;
    padding-top: 4px;
    background-color: #efefef;
    color: #898989;
}

.exitButton {
    position: absolute;
    margin-top: -290px;
    width: 15px;
    margin-left: 173px;
    background-color: transparent;
}

.gotoChatButton {
    margin-top: 10px;
    background-color: #ff0054;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font: bold 15px Arial;
    text-decoration: none;
    padding: 6px 0px 6px 0px;
    width: 200px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
}
/* Pop Up Related */
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;

  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    animation: fadeIn 2s
  }
  /* Add animation (fade in/out the popup) */
  @keyframes fadeIn {
    from {opacity: 0;}
    50% {opacity: 1;}
    to {opacity: 0;}
  }